
@{
    ViewBag.Title = "Contact";
}
<head>
    <h2>Guide to use</h2>
    <h1>Hướng dẫn sử dụng</h1>
</head>
<body>
    <h3>
        <p>Giao diện chính làm việc </p>
        <img src="~/Image/Screenshot (479).png" width="1200" /> <br />
        <p>-----------------------------------------------------------------------------------------------------</p>
        <p>Để truy cập vào nhập kho, xuất kho, hàng hóa, nhà cung cấp vui lòng chọn trên menu</p><br />
        <img src="~/Image/Screenshot (479)_LI.jpg" width="1200" /> <br />
        <p>-----------------------------------------------------------------------------------------------------</p>
        <p>Giao diện danh mục nhập kho</p><br />
        <img src="~/Image/Screenshot (480).png" width="1200" /> <br />
        <p>-----------------------------------------------------------------------------------------------------</p>
        <p>Để tìm hàng hóa nhập kho và các thông tin khác vui lòng điền từ khóa cần tìm </p><br />
        <img src="~/Image/Screenshot (480)_LI.jpg" width="1200" /> <br />
        <p>-----------------------------------------------------------------------------------------------------</p>
        <p>Để sửa,xem chi tiết hoặc xóa,vui lòng chọn ở phía bên phải cuối mỗi hàng hóa nhập kho</p><br />
        <img src="~/Image/Screenshot (481)_LI.jpg" width="1200" /> <br />
        <p>-----------------------------------------------------------------------------------------------------</p>
        <p>Giao diện sửa lại hàng hóa nhập kho</p><br />
        <img src="~/Image/Screenshot (481).png" width="1200" /> <br />
        <p>-----------------------------------------------------------------------------------------------------</p>
        <p>Giao diện chi tiết hàng hóa nhập kho</p><br />
        <img src="~/Image/Screenshot (482).png" width="1200" /> <br />
        <p>-----------------------------------------------------------------------------------------------------</p>
        <p>Giao diện xóa dòng hàng hóa nhập kho,ấn nút delete ở cuối nếu muốn xóa hoặc back to list nếu hủy</p><br />
        <img src="~/Image/Screenshot (483).png" width="1200" /> <br />
        <p>-----------------------------------------------------------------------------------------------------</p>
        <p>Tương tự với các giao diện xuất kho, hàng hóa, nhà cung cấp</p><br />
        <img src="~/Image/Screenshot (485).png" width="1200" /> <br />
        <p></p><br />
        <img src="~/Image/Screenshot (486).png" width="1200" /> <br />
        <p></p><br />
        <img src="~/Image/Screenshot (487).png" width="1200" /> <br />
    </h3>
</body>
